@page
@model IndexModel

<div class="container text-center">

    <h1 class="display-4">Service park helper</h1>

<img class="mb-3" src="~/c-sharp-exampic.jpg" width="440" height="210" alt="demonstrative picture"/>
</div>