@page
@model WebApp.Pages.JobItems.EditModel

<h1>Edit</h1>

<h4>JobItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="JobItem.JobItemId" />
            <div class="form-group">
                <label asp-for="JobItem.ItemId" class="control-label">Items</label>
                <select asp-for="JobItem.ItemId" class="form-control" asp-items="Model.Items"></select>
                <span asp-validation-for="JobItem.ItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobItem.JobId" class="control-label">Jobs</label>
                <select asp-for="JobItem.JobId" class="form-control" asp-items="Model.Jobs"></select>
                <span asp-validation-for="JobItem.JobId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobItem.QuantityNeeded" class="control-label"></label>
                <input asp-for="JobItem.QuantityNeeded" class="form-control" />
                <span asp-validation-for="JobItem.QuantityNeeded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
