@page
@model WebApp.Pages.ModeSelect.Index

<div class="text-center">
    <h1 class="display-4">Choose game</h1>
    <form method="post">
        <div class="list-group">
            <button type="submit" name="userChoice" value="1" class="btn list-group-item-primary list-group-item-action">Classic game</button>
            <button type="submit" name="userChoice" value="2" class="btn list-group-item-primary list-group-item-action">Small game</button>
            <button type="submit" name="userChoice" value="3" class="btn list-group-item-primary list-group-item-action">Custom game</button>
        </div>
    </form>

</div>